<div class="modal-body">
	<form class="form-horizontal formFadeIn" role="form">
		<section class="panel panel-default">
			<div class="panel-heading input-sm">
				<strong><span class="glyphicon glyphicon-th"></span>
					Transaction Details</strong>
			</div>
			<table class="table table-bordered table-striped table-responsive input-sm">
				<thead>
					<tr>
						<th>
							<div class="th">Voucher</div>
						</th>
						<th>
							<div class="th">Basket</div>
						</th>
						<th>
							<div class="th" align="right">Service Balance</div>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr data-ng-repeat="services in programmes">
						<td>{{service.basketId}}</td>
						<td>{{service.serviceName}}</td>
						<td align="right">{{service.coverBalance | number :
							fractionSize}}.00</td>
					</tr>
				</tbody>
			</table>
		</section>

		<div class="row">
			<div class="form-group col-sm-3">
				<label for="userName" class="col-sm-3 control-label">Service Billed</label>
				<input class="form-control input-sm" type="text"
					placeholder="Service Billed" ng-model="service.serName">
			</div>
			<div class="form-group col-sm-3">
				<label for="ICD10" class="col-sm-3 control-label">Service Category</label> 
					<select ng-model="service.serviceCategory">
					 <option ng-repeat="servicecategory in serviceCategory">{{servicecategory}}</option>
					</select>
			</div>
			<div class="form-group col-sm-3">
				<label for="userName" class="col-sm-3 control-label">Amount Billed</label>
				<input class="form-control input-sm" type="number"
					placeholder="Amount Billed" ng-model="service.totalAmount">
			</div>
			<div class="form-group col-sm-3">
				<label for="userName" class="col-sm-3 control-label">Invoice Number</label>
				<input class="form-control input-sm" type="text"
					placeholder="Invoice Number" ng-model="service.invoiceNo">
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="button" class="btn btn-success input-sm"
					style="width: 160px" ng-click="BillMember(service)">
					<span class="glyphicon glyphicon-ok"> Submit transaction </span>
				</button>
				<button type="button" class="btn btn-warning input-sm"
					style="width: 100px" ng-click="cancelModel()">
					<span class="glyphicon"> Cancel </span>
				</button>
			</div>
		</div>
	</form>
</div>