<div class="modal-body">
	<form class="form-horizontal formFadeIn" role="form">
		<section class="panel panel-default">
			<div class="panel-heading input-sm">
				<strong><span class="glyphicon glyphicon-th"></span>
					E-claim Transaction Details</strong>
			</div>
			<table
				class="table table-bordered table-striped table-responsive input-sm">
				<thead>
					<tr>
						<th>
							<div class="th">E-claim Id</div>
						</th>
						<th>
							<div class="th">Invoice Number</div>
						</th>
						<th>
							<div class="th">Member Number</div>
						</th>
						<th>
							<div class="th" align="right">Member Name</div>
						</th>
						<th>
							<div class="th" align="right">Service Category</div>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr data-ng-repeat="txn in txn.transactionDetails">
						<td>{{txn.id}}</td>
						<td>{{txn.invoiceNo}}</td>
						<td>{{txn.memberNo}}</td>
						<td align="right">{{txn.memberName}}</td>
						<td align="right">{{txn.serviceCategory}}</td>
					</tr>
				</tbody>
			</table>
		</section>

		<div class="panel-body">
			<div class="form-group">
				<label for="ICD10" class="col-sm-6"
					style="text-align: text-align: left;">SELECT ICD10
					DIAGNOSIS INFORMATION</label> <select ng-model="txn.diagnosisType">
					<option ng-repeat="icd10 in diagnosis">{{icd10}}</option>
				</select>
			</div>
			<div class="form-group">
				<label for="diagnosisInformation" class="col-sm-6"
					style="text-align: text-align: left;">Enter Other Diagnosis
					Information</label>
				<textarea class="form-control input-sm" type="text" rows="5"
					placeholder="Diagnosis Information"
					ng-model="txn.diagnosisInformation"></textarea>
			</div>
			<div class="form-group">
				<label for="doctorsNotes" class="col-sm-6"
					style="text-align: text-align: left;">Doctor's Notes</label>
				<textarea class="form-control input-sm" type="text" rows="5"
					placeholder="Doctor's Notes" ng-model="txn.doctorsNotes"></textarea>
			</div>
			<div class="form-group">
				<input type="checkbox" id="lab" ng-model="txn.LabTests">
				Does Patient Need Lab Tests?
			</div>
			<div class="form-group" ng-show="txn.LabTests">
				<label for="doctorsNotes" class="col-sm-6"
					style="text-align: text-align: left;">Specify Lab Tests</label>
				<textarea class="form-control input-sm" type="text" rows="5"
					placeholder="Specify Lab Tests" ng-model="txn.SpecifiedLabTests"></textarea>
			</div>
			<div class="form-group">
				<label for="uploadLabResults" class="col-sm-6"
					style="text-align: text-align: left;">Upload Any Other
					Documents</label> <input type="file" title="Select File" id="uploadfile"
					file-model="otherFiles" data-ui-file-upload class="btn-primary"
					accept=".application/vnd.sealed-xls,.xlsx, application/pdf"
					required="true">
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="button" class="btn btn-info input-sm"
					style="width: 160px" ng-click="submitDoctorReport(txn)">
					<span class="" style="text-align: left;"> SUBMIT </span>
				</button>
				<button type="button" class="btn btn-danger input-sm"
					style="width: 100px" ng-click="cancelModel()">
					<span class="glyphicon"> Cancel </span>
				</button>
			</div>
		</div>
	</form>
</div>