<div class="page" ng-controller="downloadMemberCtrl">
	<form class="formFadeIn" role="form" ng-hide="memberViewMode">
		<section class="panel panel-default">
			<div class="panel-heading input-sm">
				<strong><span class="glyphicon glyphicon-th"></span>
					Insurance Provider </strong>
			</div>
			<div class="panel-body">
				<div class="form-inline col-sm-12 noPadding">
					<div class="form-group col-sm-6 noPadding"
						style="padding-right: 1px">
						<label for="classSelect" class="col-sm-3 control-label input-sm"
							style="text-align: right;">Insurance Provider</label>

						<div class="col-sm-9 noPadding">
							<select style="width: 100%" ui-select2=""
								ng-change="onOrgChange(orgSelect)" ng-model="orgSelect"
								id="orgSelect" ng-disabled="isDisabled">
								<option data-ng-repeat="org in orgs" value="{{org.orgId}}">{{org.orgName}}</option>
							</select>
						</div>
					</div>




				</div>
			</div>
		</section>
	</form>
	<form role="form" class="formFadeIn" ng-hide="!memberViewMode">
		<div>
			<section class="panel panel-default table-dynamic">
				<div class="panel-heading input-sm">
					<strong><span class="glyphicon glyphicon-th input-sm "></span>
						Search Member No</strong>
				</div>
				<div class="panel-body">
					<div class="form-inline">
						<div class="form-group col-sm-12">
							<label for="memberId" class="col-sm-2 control-label input-sm"
								style="text-align: right;">Member Number</label>
							<div class="col-sm-8">

								<input type="text" class="form-control input-sm"
									placeholder="Member Code" style="width: 100%"
									ng-Model="memberNo">
							</div>
							<div class="col-sm-2">
								<button type="button"
									class="btn btn-w-md btn-gap-v btn-info input-sm"
									ng-click="viewMember(memberNo)">
									<span class="glyphicon glyphicon-barcode"></span> Search
								</button>
							</div>
						</div>
					</div>
				</div>


			</section>
		</div>
	</form>
	<form class="form-horizontal formFadeIn" role="form"
		ng-hide="memberViewMode">
		<section class="panel panel-default">
			<div class="panel-heading input-sm">
				<strong><span class="glyphicon glyphicon-th"></span>Member
					Info</strong>
			</div>
			<div class="panel panel-profile col-sm-12" style="padding-top: 16px">
				<div class="panel-heading bg-default clearfix col-sm-2">
					<a href="" class="pull-left profile"> <img alt=""
						ng-src="{{myCroppedImage}}" class="img-circle img105_105"
						style="background-color: white">
					</a>

				</div>
				<div class="col-sm-10">
					<table
						class="table table-bordered table-striped table-responsive input-sm">
						<tbody>
							<tr>
								<td>Name</td>
								<td><b>{{fullName}}</b></td>
							</tr>
							<tr>
								<td>Member no</td>
								<td><b>{{memberNo}}</b></td>
							</tr>
							<tr>
								<td>Scheme</td>
								<td>{{scheme}}</td>
							</tr>
							<tr>
								<td>Category</td>
								<td>{{category}}</td>
							</tr>
							<tr>
								<td>Member Type</td>
								<td>{{memberTypeValue}}</td>
							</tr>
							<tr>
								<td>Outpatient Status</td>
								<td>{{outpatientStatus}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<div class="panel-body">
				<div class="form-group col-sm-12"
					style="max-height: 400px; overflow-y: auto;">
					<table
						class="table table-bordered table-striped table-responsive input-sm">
						<thead>
							<tr>
								<th>
									<div class="th">
										<b>VOUCHER/BASKET ID: </b>
									</div>
								</th>
								<th>
									<div class="th">
										<b>HEALTH BASKET</b>
									</div>
								</th>
								<th ng-hidden="true">
									<div class="th">
										<b>COVER TOTAL ALLOCATION</b>
									</div>
								</th>
								<th>
									<div class="th">
										<b>SUB-SERVICE LIMIT</b>
									</div>
								</th>
								<th>
									<div class="th">
										<b>USAGE</b>
									</div>
								</th>
								<th>
									<div class="th">
										<b>BALANCE</b>
									</div>
								</th>
								<th>
									<div class="th">
										<b>BILL PATIENT</b>
									</div>
								</th>
							</tr>
						</thead>
						<tbody>

							<tr data-ng-repeat="service in newValues">
								<td>{{service.basketId}}</td>
								<td>{{service.serviceName}}</td>
								<td ng-hidden="true">{{service.price}}</td>
								<td>{{service.coverLimit}}</td>
								<td>{{service.used}}</td>
								<td>{{service.coverBalance}}</td>
								<td><button type="button" class="btn btn-success"
										value="Bill Patient" ng-click="billPatient(service)">Bill
										Patient</button></td>
							</tr>
						</tbody>
					</table>
					<table
						class="table table-bordered table-striped table-responsive input-sm">
						<thead>
							<tr>
								<th>
									<div class="th">Voucher</div>
								</th>
								<th>
									<div class="th" align="right">Voucher Id</div>
								</th>
							</tr>
						</thead>
						<tbody>
							<tr data-ng-repeat="membervoucher in basketVouchers">
								<td>{{membervoucher.voucherDesc}}</td>
								<td align="right">{{membervoucher.voucherId}}</td>
							</tr>
						</tbody>
					</table>
				</div>

			</div>

			<div class="panel-heading input-sm">
				<strong><span class="glyphicon glyphicon-th input-sm"></span>
					Family members</strong>
			</div>
			<div class="panel-body">
				<div class="form-group col-sm-12"
					style="max-height: 400px; overflow-y: auto;">
					<table
						class="table table-bordered table-striped table-responsive input-sm">
						<thead>
							<tr>
								<th>
									<div class="th">
										<b>NAME</b>
									</div>
								</th>
								<th>
									<div class="th">
										<b>MEMBER NO</b>
									</div>
								</th>
								<th>
									<div class="th">
										<b>ID NUMBER</b>
									</div>
								</th>
								<th>
									<div class="th">
										<b>DOB</b>
									</div>
								</th>
								<th>
									<div class="th">
										<b>GENDER</b>
									</div>
								</th>
								<th>
									<div class="th">
										<b>RELATION</b>
									</div>
								</th>
								<th>
									<div class="th">
										<b>MEMBER TYPE</b>
									</div>
								</th>
								<th>
									<div class="th">
										<b>MEMBER STATUS</b>
									</div>
								</th>
							</tr>
						</thead>
						<tbody>

							<tr data-ng-repeat="member in famMemEntries">
								<td>{{member.famMemFullName}}</td>
								<td>{{member.famMemberNo}}</td>
								<td>{{member.famMemNationalId}}</td>
								<td>{{member.famDob}}</td>
								<td>{{member.famGender == 'F' ? 'Female' : member.famGender
									== 'M' ? 'Male' : ''}}</td>
								<td>{{member.relationId == 1 ? 'Spouse' : member.relationId
									== 2 ? 'Child' : ''}}</td>
								<td>{{member.memberType == 'P' ? 'Principal' :
									member.memberType == 'D' ? 'Dependant' : ''}}</td>
								<td>{{member.active == '1' ? 'Active' : member.active ==
									'0' ? 'Inactive' : ''}}</td>
							</tr>
						</tbody>
					</table>
				</div>

			</div>

			<div class="form-group">
				<div class="col-sm-offset-1">
					<button type="button" class="btn btn-success" style="width: 200px"
						ng-click="sendMemberInfo()">
						<span class="glyphicon glyphicon-ok"> Send (AKUH) </span>
					</button>

					<button type="button" class="btn btn-warning input-sm"
						style="width: 100px" ng-click="cancelInq()">
						<span class="glyphicon glyphicon-remove"> Cancel </span>
					</button>


				</div>
			</div>
</div>
</section>

</form>
</div>
