<div class="modal-body">
	<form class="form-horizontal formFadeIn" role="form">
		<section class="panel panel-default">
			<div class="panel-heading input-sm">
				<strong><span class="glyphicon glyphicon-th"></span>
					E-claim Transaction Details</strong>
			</div>
			<table
				class="table table-bordered table-striped table-responsive input-sm">
				<thead>
					<tr>
						<th>
							<div class="th">E-claim Id</div>
						</th>
						<th>
							<div class="th">Member Balance</div>
						</th>
						<th>
							<div class="th">Invoice Number</div>
						</th>
						<th>
							<div class="th">Member Number</div>
						</th>
						<th>
							<div class="th">Fetched Pharmacy Bill</div>
						</th>
						<th>
							<div class="th" align="right">Member Name</div>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr data-ng-repeat="txn in txn.transactionDetails">
						<td>{{txn.id}}</td>
						<td>{{txn.totalRunningBalance}}</td>
						<td>{{txn.invoiceNo}}</td>
						<td>{{txn.memberNo}}</td>
						<td>{{txn.amountBilled}}</td>
						<td align="right">{{txn.memberName}}</td>
					</tr>
				</tbody>
			</table>
		</section>

		<div class="panel-body">
			<div class="form-group" ng-hide="true">
				<label for="labServices" class="col-sm-6"
					style="text-align: text-align: left;">Member's balance</label>
				<input class="form-control input-sm" type="number" placeholder="Amount to Bill" ng-model="txn.totalRunningBalance" readonly>
			</div>
			<div class="form-group">
				<label for="labServices" class="col-sm-6"
					style="text-align: text-align: left;">Pharmacy Amount to bill</label>
				<input class="form-control input-sm" type="number" placeholder="Amount to Bill" ng-model="txn.amountBilled" readonly>
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="button" class="btn btn-info input-sm"
					style="width: 160px" ng-click="submitPharmacyBill(txn)">
					<span class="" style="text-align: left;"> SUBMIT</span>
				</button>
				<button type="button" class="btn btn-danger input-sm"
					style="width: 100px" ng-click="cancelModel()">
					<span class="glyphicon"> Cancel </span>
				</button>
			</div>
		</div>
	</form>
</div>