<div class="modal-body">
	<form class="form-horizontal formFadeIn" role="form">
		<section class="panel panel-default">
			<div class="panel-heading input-sm">
				<strong><span class="glyphicon glyphicon-th"></span>
					E-claim Transaction Details</strong>
			</div>
			<table
				class="table table-bordered table-striped table-responsive input-sm">
				<thead>
					<tr>
						<th>
							<div class="th">E-claim Id</div>
						</th>
						<th>
							<div class="th">Basket Balance</div>
						</th>
						<th>
							<div class="th">Invoice Number</div>
						</th>
						<th>
							<div class="th">Member Number</div>
						</th>
						<th>
							<div class="th" align="right">Member Name</div>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr data-ng-repeat="txn in txn.transactionDetails">
						<td>{{txn.id}}</td>
						<td>{{txn.runningBalance}}</td>
						<td>{{txn.invoiceNo}}</td>
						<td>{{txn.memberNo}}</td>
						<td align="right">{{txn.memberName}}</td>
					</tr>
				</tbody>
			</table>
		</section>

		<div class="panel-body">
			<div class="form-group">
				<label for="diagnosisInformation" class="col-sm-6"
					style="text-align: text-align: left;">Drug name</label>
				<textarea class="form-control input-sm" type="text" rows="4"
					placeholder="Drug Name" ng-model="txn.drugName"></textarea>
			</div>
			<div class="form-group">
				<label for="doctorsNotes" class="col-sm-6"
					style="text-align: text-align: left;">Drug Quantity</label> <input
					class="form-control input-sm" type="number" rows="3"
					placeholder="Drug Quantity" ng-model="txn.drugQuantity">
			</div>
			<div class="form-group">
				<label for="labServices" class="col-sm-6"
					style="text-align: text-align: left;">Amount To be Billed</label> <input
					class="form-control input-sm" type="number"
					placeholder="Amount Bill" ng-model="txn.amountBilled">
			</div>
			<div class="form-group" ng-hide="true">
				<label for="labServices" class="col-sm-6"
					style="text-align: text-align: left;">Invoice Number</label> <input
					class="form-control input-sm" type="text"
					placeholder="Invoice Number" ng-model="txn.DruginvoiceNumber">
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="button" class="btn btn-info input-sm"
					style="width: 160px" ng-click="submitPharmacyReport(txn)">
					<span class="" style="text-align: left;"> SUBMIT</span>
				</button>
				<button type="button" class="btn btn-danger input-sm"
					style="width: 100px" ng-click="cancelModel()">
					<span class="glyphicon"> Cancel </span>
				</button>
			</div>
		</div>
	</form>
</div>