<style>
a:link {
	color: green;
	background-color: transparent;
	text-decoration: none
}

a:visited {
	color: blue;
	background-color: transparent;
	text-decoration: none
}

a:hover {
	color: blue;
	background-color: transparent;
	text-decoration: underline
}

a:active {
	color: red;
	background-color: transparent;
	text-decoration: underline
}
</style>
<div class="page" ng-controller="downloadMemberCtrl">
	<form class="form-horizontal formFadeIn" role="form"
		ng-hide=!orgSelected>
		<section class="panel panel-default">

			<!--Start topup type selection-->

			<div class="panel-heading input-sm">
				<strong><span class="glyphicon glyphicon-th"></span> LCT
					E-claim Billing </strong>
			</div>
			<div class="panel-body">
				<div class="form-group col-sm-12 noPadding">
					<!-- category code -->
					<div class="col-sm-6 noPadding">
						<div class="col-sm-4" style="text-align: right;">
							<label for="inpCatCode" class="control-label input-sm">
								From Date</label>
						</div>

						<div class="col-sm-8 noPadding" ng-controller="DatepickerDemoCtrl">
							<div class="input-group ui-datepicker">
								<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
								<input type="text" placeholder="Select Date"
									class="form-control" datepicker-popup="{{format}}"
									ng-model="mem.FromDt" is-open="opened" min="minDate"
									max="maxDate" datepicker-options="dateOptions"
									date-disabled="disabled(date, mode)" ng-required="true"
									close-text="Close">
							</div>
						</div>
						<!-- 	<input type="text" id='newFrDt' class="ng-binding" ng-model="mem.FromDt" ng-value="{{mem.FromDt | date:'shortDate'}}"  /> -->
					</div>
					<!-- category Name -->
					<div class="col-sm-6 noPadding">
						<div class="col-sm-4" style="text-align: right;">
							<label for="inpCatName" class="control-label input-sm">
								To Date</label>
						</div>
						<div class="col-sm-8 noPadding" ng-controller="DatepickerDemoCtrl">
							<div class="input-group ui-datepicker">
								<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
								<input type="text" class="form-control"
									datepicker-popup="{{format}}" placeholder="Select Date"
									ng-model="mem.ToDt" min="minDate" max="maxDate"
									datepicker-options="dateOptions"
									date-disabled="disabled(date, mode)" ng-required="true"
									close-text="Close">
							</div>
						</div>
					</div>

				</div>
				<div class="form-group" style="margin-left: 200px">
					<div class="col-sm-10">
						<button type="button" class="btn btn-info input-sm"
							style="width: 100px" ng-click="previewEclaimForm()">
							<span class="glyphicon glyphicon-ok"> Preview </span>
						</button>

					</div>

				</div>
			</div>
		</section>
	</form>
	<form role="form" class="formFadeIn" ng-hide="showBillDetails">
		<section class="panel panel-default table-dynamic">
			<div class="panel-heading input-sm">
				<strong><span class="glyphicon glyphicon-th"></span>
					E-claim Details - Please fill in the claim data as accurately as
					possible for easy vetting </strong>

			</div>

			<div class="table-filters">
				<div class="row">
					<div class="col-sm-4 col-xs-6">
						<form>
							<input type="text" placeholder="search"
								class="form-control input-sm" data-ng-model="searchKeywords"
								data-ng-keyup="search()">
						</form>
					</div>
					<div class="col-sm-3 col-xs-6 filter-result-info input-sm">
						<span> Showing {{filteredTrans.length}}/{{trans.length}}
							entries </span>
					</div>
				</div>
			</div>
			<div class="panel-body">
				<div class="form-inline col-sm-12 noPadding">
					<table
						class="table table-bordered table-striped table-responsive input-sm">
						<thead>
							<tr>
								<th style="width: 50px; margin-left: 5px" ng-hide="true"><input
									type="checkbox" ng-model="allTxnSelected"
									style="margin-left: 6px" ng-change="selectAllTxn()"></th>
								<th>
									<div class="th">
										# <span class="glyphicon glyphicon-chevron-up"
											data-ng-click=" order('count') "
											data-ng-class="{active: row == 'count'}"></span><span
											class="glyphicon glyphicon-chevron-down"
											data-ng-click=" order('-count') "
											data-ng-class="{active: row == '-count'}"></span>
									</div>
								</th>
								<th ng-hide="true">
									<div class="th">
										Account Number <span class="glyphicon glyphicon-chevron-up"
											data-ng-click=" order('bnfGrpname') "
											data-ng-class="{active: row == 'bnfGrpname'}"></span><span
											class="glyphicon glyphicon-chevron-down"
											data-ng-click=" order('-bnfGrpname') "
											data-ng-class="{active: row == '-bnfGrpname'}"></span>
									</div>
								</th>
								<th>
									<div class="th">
										Trans Id<span class="glyphicon glyphicon-chevron-up"
											data-ng-click=" order('txnId') "
											data-ng-class="{active: row == 'txnId'}"></span><span
											class="glyphicon glyphicon-chevron-down"
											data-ng-click=" order('-txnId') "
											data-ng-class="{active: row == '-txnId'}"></span>
									</div>
								</th>
								<th>
									<div class="th">
										Member Name<span class="glyphicon glyphicon-chevron-up"
											data-ng-click=" order('memberName') "
											data-ng-class="{active: row == 'memberName'}"></span><span
											class="glyphicon glyphicon-chevron-down"
											data-ng-click=" order('-memberName') "
											data-ng-class="{active: row == '-memberName'}"></span>
									</div>
								</th>
								<th>
									<div class="th">
										Member Number<span class="glyphicon glyphicon-chevron-up"
											data-ng-click=" order('memberNo') "
											data-ng-class="{active: row == 'memberNo'}"></span><span
											class="glyphicon glyphicon-chevron-down"
											data-ng-click=" order('-memberNo') "
											data-ng-class="{active: row == '-memberNo'}"></span>
									</div>
								</th>
								<th>
									<div class="th">
										Basket Name<span class="glyphicon glyphicon-chevron-up"
											data-ng-click=" order('basketName') "
											data-ng-class="{active: row == 'basketName'}"></span><span
											class="glyphicon glyphicon-chevron-down"
											data-ng-click=" order('-basketName') "
											data-ng-class="{active: row == '-basketName'}"></span>
									</div>
								</th>
								<th>
									<div class="th">
										Provider Name<span class="glyphicon glyphicon-chevron-up"
											data-ng-click=" order('merName') "
											data-ng-class="{active: row == 'merName'}"></span><span
											class="glyphicon glyphicon-chevron-down"
											data-ng-click=" order('-merName') "
											data-ng-class="{active: row == '-merName'}"></span>
									</div>
								</th>
								<th>
									<div class="th">
										Trans Date<span class="glyphicon glyphicon-chevron-up"
											data-ng-click=" order('transDate') "
											data-ng-class="{active: row == 'transDate'}"></span><span
											class="glyphicon glyphicon-chevron-down"
											data-ng-click=" order('-transDate') "
											data-ng-class="{active: row == '-transDate'}"></span>
									</div>
								</th>
								<th>
									<div class="th" align="right">
										E-claim Invoice<span class="glyphicon glyphicon-chevron-up"
											data-ng-click=" order('invoiceNo') "
											data-ng-class="{active: row == 'invoiceNo'}"></span><span
											class="glyphicon glyphicon-chevron-down"
											data-ng-click=" order('-invoiceNo') "
											data-ng-class="{active: row == '-invoiceNo'}"></span>
									</div>
								</th>
								<th>
									<div class="th" ng-hide="true">Verified</div>
								</th>
								<th style="width: 50px" ng-hide="true"></th>


							</tr>
						</thead>
						<tbody>
							<tr>
								<td colspan="8" align="center" ng-show="filteredTrans.length==0"><b>No
										data</b></td>
							</tr>
							<tr data-ng-repeat="txn in currentPageTrans">
								<td>{{txn.count}}</td>
								<td ng-hide="true">{{txn.accNo}}</td>
								<td><a href="" ng-click="viewEclaimDtl(txn)">{{txn.txnId}}</a></td>
								<td>{{txn.memberName}}</td>
								<td>{{txn.memberNo}}</td>
								<td>{{txn.basketName}}</td>
								<td>{{txn.merName}}</td>
								<td>{{txn.transDate}}</td>
								<td>{{txn.invoiceNo}}</td>
								<td align="right" ng-hide="true">{{txn.amountBilled | number :
									fractionSize}}.00</td>
								<td style="padding: 1px;" ng-if="txn.reject==false"
									ng-hide="true">
									<button type="button" class="btn btn-danger input-sm"
										style="height: 25px; width: 50px;" tooltip-placement="top"
										tooltip="Reject {{txn.txnId}}" ng-click="rejectTxn(txn)">
										<span class="glyphicon glyphicon-remove" style="top: -2px;"></span>
									</button>
								</td>
								<td style="padding: 1px;" ng-if="txn.reject==true"
									ng-hide="true">
									<button type="button" class="btn btn-success input-sm"
										style="height: 25px; width: 50px;" tooltip-placement="top"
										tooltip="UnReject {{txn.txnId}}" ng-click="unrejectTxn(txn)">
										<span class="glyphicon glyphicon-ok" style="top: -2px;"></span>
									</button>
								</td>
							</tr>
						</tbody>
					</table>

					<footer class="table-footer input-sm">

						<div class="row">
							<div class="col-md-6 page-num-info">
								<span> Show <select data-ng-model="numPerPage"
									data-ng-options="num for num in numPerPageOpt"
									data-ng-change="onNumPerPageChange()"></select> entries per
									page
								</span>
							</div>
							<div class="col-md-6 text-right pagination-container">
								<pagination class="pagination-sm" page="currentPage"
									total-items="filteredTrans.length" max-size="4"
									on-select-page="select(page)" items-per-page="numPerPage"
									rotate="false" boundary-links="true"></pagination>
							</div>
						</div>
					</footer>
				</div>
				<div class="form-group" style="margin-left: 200px" ng-hide="true">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="button" class="btn btn-success input-sm"
							style="width: 100px" ng-click="verify()">
							<span class="glyphicon glyphicon-ok"> Verify </span>
						</button>
						<button type="button" class="btn btn-warning input-sm"
							style="width: 100px" ng-click="cancelVerify()">
							<span class="glyphicon glyphicon-ok"> Cancel </span>
						</button>
					</div>

				</div>
			</div>

		</section>
	</form>
</div>