<div class="col-sm-12" style="padding-left: 0">
	<div class="col-sm-4 text-left" style="margin-top: -4px; padding-left: 0">
		<a href="http://www.compulynx.org/"><img src="images/header_logo.jpg"
			alt="" class="img20"></a>
	</div>
	<div class="col-sm-4 text-center">
		An innovation by <a href="https://www.lctafrica.net/"
			style="color: #737973" target="_blank">LCT AFRICA &copy; </a>
	</div>
	<div class="col-sm-4 text-center">
		<span id="siteseal">
		<script async type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=CbEBqtvRPqX3q0yDZfh9NA7tZn3cwnLtc8bOZMrLQyYWHb0Vu7vLHzCjAAO7"></script>
		</span>
	</div>
	<!-- <div class="col-sm-4 text-right">Version {{main.scriptVersion}}</div> -->
	<!-- <div class="col-sm-4 text-right" style="margin-top: -4px; padding-left: 0">
	
			</div> -->
</div>