<header class="clearfix">
	<a href="#/" data-toggle-min-nav class="toggle-min"><i
		class="fa fa-bars"></i></a>

	<!-- Logo -->
		<!-- Logo -->
	<div class="logo">
	<a href="#/" style="background-color: #fff;"> <img alt="LCT Logo"
			src="images/lct_logo.png" class=""
			style="width: 110px; height: 55px; margin-top: -8px; background-color: ;">
			<!-- <span>{{main.brand}}</span> -->
			<span></span>
		</a>
		
	</div>
	<!-- needs to be put after logo to make it working-->
	<div class="menu-button" toggle-off-canvas>
		<span class="icon-bar"></span> <span class="icon-bar"></span> <span
			class="icon-bar"></span>
	</div>

	<div class="top-nav">
		<ul class="nav-right pull-right list-unstyled">
			<li class="dropdown text-normal nav-profile"><a
				href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
					<img src="images/account2.png" alt="" class="img-circle img30_30"
					style="background-color: white;"> <span class="hidden-xs">
						<span data-i18n="{{UsrRghts.sessionFullName}}"></span>
				</span>
			</a>
				<ul class="dropdown-menu with-arrow pull-right">
					<li><a href="#/user/profile"> <i class="fa fa-user"></i> <span
							data-i18n="My Profile"></span>
					</a></li>
					<li><a href="#/user/changepassword"> <i class="fa fa-edit"></i> <span
							data-i18n="Change Password"></span>
					</a></li>
					<li><a href="#/login"> <i class="fa fa-sign-out"></i> <span
							data-i18n="Log Out"></span>
					</a></li>
				</ul></li>
		</ul>
	</div>

</header>

